/* ==========================================================================
   #GLOBAL
   ========================================================================== */

/* Box Shadows
========================================================================== */
$box-shadow-sm: 4px 4px 14px rgb(226 230 243 / 50%);
$box-shadow-md: 0 -8px 8px rgb(226 230 243 / 20%),
  0 5px 8px rgb(107 113 166 / 10%), 4px 4px 14px rgb(226 230 243 / 50%);
$box-shadow-lg: 0 -8px 8px rgb(226 230 243 / 20%),
  0 8px 8px rgb(107 113 166 / 20%), 4px 4px 14px rgb(226 230 243 / 50%);
$box-shadow-primary-sm: 0 -8px 8px rgb(255 231 228 / 20%),
  0 8px 8px rgb(243 151 140 / 20%), 4px 4px 14px rgb(255 231 228 / 50%);
$box-shadow-primary-md: 0 -8px 8px rgb(255 231 228 / 20%),
  0 16px 16px rgb(243 151 140 / 20%), 4px 4px 14px rgb(255 231 228 / 50%);
$box-shadow-primary-lg: 0 -8px 8px rgb(255 231 228 / 20%),
  0 16px 36px rgb(243 151 140 / 20%), 4px 4px 14px rgb(255 231 228 / 50%);
$box-shadow-secondary-sm: 0 -8px 8px rgb(231 232 255 / 20%),
  0 8px 8px rgb(186 189 252 / 5%), 4px 4px 14px rgb(231 232 255 / 50%);
$box-shadow-secondary-md: 0 -8px 8px rgb(231 232 255 / 20%),
  0 16px 16px rgb(186 189 252 / 20%), 4px 4px 14px rgb(231 232 255 / 50%);
$box-shadow-secondary-lg: 0 -8px 8px rgb(231 232 255 / 20%),
  0 16px 36px rgb(186 189 252 / 40%), 4px 4px 14px rgb(231 232 255 / 50%);

/* Spacings variables.
   ========================================================================== */
$global-spacing-unit-0-5: 4px;
$global-spacing-unit-1: 8px;
$global-spacing-unit-1-5: 12px;
$global-spacing-unit-2: 16px;
$global-spacing-unit-3: 24px;
$global-spacing-site-4: 32px;
$global-spacing-site-5: 40px;
$global-spacing-site-6: 48px;
$global-spacing-site-7: 56px;
$global-spacing-site-8: 64px;
$global-spacing-site-9: 72px;
$global-spacing-site-10: 80px;
$global-spacing-site-11: 88px;
$global-spacing-site-12: 96px;
$global-spacing-site-13: 104px;

$global-width-menu-open: 278px;
$global-width-menu-close: 66px;
