/* ==========================================================================
   #TEXT
   ========================================================================== */

/* The font variables.
========================================================================== */

/* Font families */
$font-inter: 'Inter';

/* Define all the headings font-size */
$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;
$font-size-body: 14px;
$font-size-caption: 12px;

/* Line height */
$line-height-h1: 44px;
$line-height-h2: 38px;
$line-height-h3: 32px;
$line-height-h4: 30px;
$line-height-h5: 28px;
$line-height-h6: 24px;
$line-height-body: 20px;
$line-height-caption: 18px;
