version: "3.4"

services:
  php:
    build:
      context: ./api
      target: gally_php
    depends_on:
      - database
      - elasticsearch
      - redis
    restart: unless-stopped
    volumes:
      - php_socket:/var/run/php
    healthcheck:
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 120s
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER:-api-platform}:${POSTGRES_PASSWORD:-!ChangeMe!}@database:5432/${POSTGRES_DB:-api}?serverVersion=${POSTGRES_VERSION:-13}
      TRUSTED_PROXIES: ${TRUSTED_PROXIES:-127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16}
      TRUSTED_HOSTS: ^${SERVER_NAME:-example\.com|localhost}|caddy$$
      # MERCURE_URL: ${CADDY_MERCURE_URL:-http://caddy/.well-known/mercure}
      # MERCURE_PUBLIC_URL: https://${SERVER_NAME:-localhost}/.well-known/mercure
      # MERCURE_JWT_SECRET: ${CADDY_MERCURE_JWT_SECRET:-!ChangeMe!}

  pwa:
    build:
      context: ./front
      target: gally_pwa_prod
    environment:
      API_PLATFORM_CLIENT_GENERATOR_ENTRYPOINT: https://caddy
      NEXT_PUBLIC_ENTRYPOINT: https://caddy
    healthcheck:
      test: test $$(curl --connect-timeout 2 -s -o /dev/null -w ''%{http_code}'' http://localhost:3000) -eq 200
      interval: 10s
      timeout: 5s
      retries: 10

  caddy:
    build:
      context: api/
      target: gally_caddy
    depends_on:
      - php
      - pwa
    networks:
      default:
        aliases:
          - gally.localhost
    environment:
      PWA_UPSTREAM: pwa:3000
      # EXAMPLE_UPSTREAM: example:3001
      # SERVER_NAME: ${SERVER_NAME:-localhost, caddy:80}
#      SERVER_NAME: ${SERVER_NAME:-localhost}
      SERVER_NAME: gally.localhost:80
      # VARNISH_UPSTREAM: varnish:80
      VARNISH_UPSTREAM: varnish:80
      # MERCURE_PUBLISHER_JWT_KEY: ${CADDY_MERCURE_JWT_SECRET:-!ChangeMe!}
      # MERCURE_SUBSCRIBER_JWT_KEY: ${CADDY_MERCURE_JWT_SECRET:-!ChangeMe!}
      CADDY_TRUSTED_PROXIES: ${CADDY_TRUSTED_PROXIES:-127.0.0.0/8 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16}
    restart: unless-stopped
    volumes:
      - php_socket:/var/run/php
      - caddy_data:/data
      - caddy_config:/config
    labels:
      - traefik.enable=true
      # Serve magento over http
      - traefik.http.routers.gally-http.rule=Host(`gally.localhost`)
      - traefik.http.routers.gally-http.entrypoints=http
      # Serve magento over https
      - traefik.http.routers.gally-https.rule=Host(`gally.localhost`)
      - traefik.http.routers.gally-https.entrypoints=https
      - traefik.http.routers.gally-https.tls=true
#    ports:
#      # HTTP
#      - target: 80
#        published: ${HTTP_PORT:-81}
#        protocol: tcp
#      # HTTPS
#      - target: 443
#        published: ${HTTPS_PORT:-444}
#        protocol: tcp
#      # HTTP/3
#      - target: 443
#        published: ${HTTP3_PORT:-444}
#        protocol: udp
#      - target: 8080
#        published: 8081
#        protocol: tcp

  varnish:
    # image: varnish:fresh-alpine
    image: varnish:7.2.1
    depends_on:
      - caddy
    restart: unless-stopped
    volumes:
      - './api/docker/varnish/default.vcl:/etc/varnish/default.vcl:ro,z'
    environment:
      - VARNISH_SIZE=512M
    #   - SERVERNAME=${SERVER_NAME:-localhost, caddy:80}
    # If http2 not already supported out of the box
    # command: "-p default_keep=300 -p feature=+http2"
    command: "-p default_keep=300 -p http_resp_hdr_len=65k"
    # restart: unless-stopped
#    ports: 
#      - 80
#      - target: 80
#        published: 80
#        protocol: tcp
       
  database:
    image: postgres:${POSTGRES_VERSION:-13}-alpine
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-api}
      # You should definitely change the password in production
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-!ChangeMe!}
      - POSTGRES_USER=${POSTGRES_USER:-api-platform}
    volumes:
      - db_data:/var/lib/postgresql/data:rw,z
      # you may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
      # - ./api/docker/db/data:/var/lib/postgresql/data:rw,z

  redis:
    image: docker.io/bitnami/redis:6.2
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      # - REDIS_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - '6379:6379'
    volumes:
      - 'redis_data:/bitnami/redis/data'

  elasticsearch:
    build:
      context: api/
      target: gally_elasticsearch
    # restart: unless-stopped
    environment:
      - cluster.name=es-docker-cluster
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m" # 512 Mo HEAP
      - cluster.routing.allocation.disk.threshold_enabled=false # Avoid ES going read-only because low disk space availability
    volumes:
      - es_data:/usr/share/elasticsearch/data:rw,z
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9200:9200
      # - 9300:9300
    healthcheck:
      test: test $$(curl --write-out %{http_code} --fail --silent --output /dev/null http://localhost:9200/_cluster/health?wait_for_status=green&timeout=5s) -eq 200
      interval: 10s
      timeout: 5s
      retries: 10    
      
  shopware:
    image: dockware/dev:latest
    depends_on:
      - caddy
    ports:
#      - "80:80"
      - "3307:3306"
      - "8888:8888"
      - "9999:9999"
      - "9998:9998"
    environment:
      - XDEBUG_ENABLED=1
      - XDEBUG_REMOTE_HOST=172.17.0.1
    volumes:
      - ./shopware/src:/var/www/html:rw,cached
      - shopware_data:/var/lib/mysql
    labels:
      - traefik.enable=true
      # Serve magento over http
      - traefik.http.routers.shopware-http.rule=Host(`shopware.localhost`)
      - traefik.http.routers.shopware-http.entrypoints=http
      # Serve magento over https
      - traefik.http.routers.shopware-https.rule=Host(`shopware.localhost`)
      - traefik.http.routers.shopware-https.entrypoints=https
      - traefik.http.routers.shopware-https.tls=true

# Mercure is installed as a Caddy module, prevent the Flex recipe from installing another service
###> symfony/mercure-bundle ###
###< symfony/mercure-bundle ###

volumes:
  php_socket:
  caddy_data:
  caddy_config:
###> doctrine/doctrine-bundle ###
  db_data:
###< doctrine/doctrine-bundle ###
  es_data:
###> symfony/mercure-bundle ###
###< symfony/mercure-bundle ###
  shopware_data:
  redis_data:
    driver: local
