api_platform:
    mapping:
        paths: [ '%kernel.project_dir%/src/Entity' ]
#    elasticsearch:
#        hosts: ['%env(ELASTICSEARCH_HOST)%']
    http_cache:
        invalidation:
            varnish_urls: ['%env(VARNISH_URL)%']
