parameters:
    level: 5
    paths:
        - vendor/gally/gally-premium
    excludePaths:
        - src/App
        - src/Acme
        - src/Gally/**/Legacy
    inferPrivatePropertyTypeFromConstructor: true
    symfony:
        container_xml_path: var/cache/dev/KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    scanDirectories:
        - var/cache/dev/Symfony/Config
