@font-face {
  font-display: swap;
  font-family: inter;
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/font/Inter/Inter-Regular.ttf');
}

@font-face {
  font-display: swap;
  font-family: inter;
  font-style: normal;
  font-weight: 100;
  src: url('~/assets/font/Inter/Inter-Thin.ttf');
}

@font-face {
  font-display: swap;
  font-family: inter;
  font-style: normal;
  font-weight: 200;
  src: url('~/assets/font/Inter/Inter-ExtraLight.ttf');
}

@font-face {
  font-display: swap;
  font-family: inter;
  font-style: normal;
  font-weight: 300;
  src: url('~/assets/font/Inter/Inter-Light.ttf');
}

@font-face {
  font-display: swap;
  font-family: inter;
  font-style: normal;
  font-weight: 500;
  src: url('~/assets/font/Inter/Inter-Medium.ttf');
}

@font-face {
  font-display: swap;
  font-family: inter;
  font-style: normal;
  font-weight: 600;
  src: url('~/assets/font/Inter/Inter-SemiBold.ttf');
}

@font-face {
  font-display: swap;
  font-family: inter;
  font-style: normal;
  font-weight: 700;
  src: url('~/assets/font/Inter/Inter-Bold.ttf');
}

@font-face {
  font-display: swap;
  font-family: inter;
  font-style: normal;
  font-weight: 800;
  src: url('~/assets/font/Inter/Inter-ExtraBold.ttf');
}

@font-face {
  font-display: swap;
  font-family: inter;
  font-style: normal;
  font-weight: 900;
  src: url('~/assets/font/Inter/Inter-Black.ttf');
}
