/* ==========================================================================
   COLORS
   ========================================================================== */
$white: #fff;
$black: #000;

//Primary

$primary: #ed7465;
$primary-100: #ffe7e4;
$primary-200: #fbc0b9;
$primary-300: #f3978c;
$primary-400: #ed7465;
$primary-500: #e64733;
$primary-600: #cc2d19;
$primary-700: #a02213;
$primary-800: #73170c;
$primary-900: #460c05;

//Secondary

$secondary: #2c19cd;
$secondary-100: #e7e8ff;
$secondary-200: #babdfc;
$secondary-300: #8d8df3;
$secondary-400: #6460ed;
$secondary-500: #3f32e6;
$secondary-600: #2c19cd;
$secondary-700: #1812a0;
$secondary-800: #0d1274;
$secondary-900: #070f47;

//Neutral

$neutral-100: #fafbfe;
$neutral-200: #f4f7ff;
$neutral-300: #e2e6f3;
$neutral-400: #b5b9d9;
$neutral-500: #8187b9;
$neutral-600: #424880;
$neutral-700: #2f3674;
$neutral-800: #212250;
$neutral-900: #151a47;

//System

$success-strong: #18753c;
$success-light: #e7f4ec;
$warning-strong: #60590d;
$warning-light: #fef9d0;
$error-strong: #a02213;
$error-light: #ffe7e4;

//Gradient

$gradient: linear-gradient(46.78deg, #e64733 1.79%, #ed7465 98.88%);
$gradient-darken: linear-gradient(46.78deg, #cc2d19 1.79%, #e64733 98.88%);

// Override specific tags on their colors

a {
  color: inherit;
}

a:hover {
  color: inherit;
}
