parameters:
    level: 5
    paths:
        - src
        - packages
    excludePaths:
        - src/Acme
    inferPrivatePropertyTypeFromConstructor: true
    symfony:
        container_xml_path: var/cache/dev/KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    scanDirectories:
        - var/cache/dev/Symfony/Config
