parameters:
    level: max
    paths:
        - config
        - src
        - public
        #- tests
    inferPrivatePropertyTypeFromConstructor: true
    symfony:
        container_xml_path: var/cache/dev/KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    scanDirectories:
        - var/cache/dev/Symfony/Config
