name: CI

on:
  push:
    branches:
      - master
      - '[1-9].[0-9]+.x'
      - 'feature-[a-z]+'
  pull_request:
    branches:
      - master
      - '[1-9].[0-9]+.x'
      - 'feature-[a-z]+'
    types: [review_requested, ready_for_review, synchronize]
  workflow_dispatch: ~

jobs:
  tests:
    if: github.event.pull_request.draft == false
    name: Tests
    uses: ./.github/workflows/tests.yml
    with:
      version: 1.3.x
      last_published_version: 1.3.1
      use_default_github_ref: true
    secrets: inherit
