name: Deploy integration

on:
  workflow_call:
    inputs:
      version:
        description: "Version of Gally's packages (ex: main or 1.0.x)"
        required: true
        type: string
      last_published_version:
        description: "Last release of the current version"
        required: false
        default: "dev-main"
        type: string
      version_is_tag:
        description: "Version to deploy is a tag ?"
        required: false
        default: false
        type: boolean
      add_sample_data:
        description: "Install sample data"
        required: false
        default: true
        type: boolean
    secrets:
      AWS_DEPLOY_KEY:
        required: true
      AWS_HOSTNAME:
        required: true
      AWS_USER:
        required: true
      APP_SECRET:
        required: true
      POSTGRES_PASSWORD:
        required: true
      COMPOSER_AUTH:
        required: true
      PACKAGIST_URL:
        required: true
      MEDIA_URL:
        required: false
      MAILER_DSN:
        required: true
      GALLY_DEFAULT_SENDER_NAME:
        required: true
      GALLY_DEFAULT_SENDER_EMAIL:
        required: true

jobs:
  deploy:
    name: Integration
    runs-on: ubuntu-latest
    
    steps:      
      - name: Deploy in EC2
        env:
            branch: ${{ inputs.version_is_tag == true && format('tags/v{0}', inputs.version) || format('origin/{0}', inputs.version) }}
            composer_version: ${{ inputs.version == 'main' && 'dev-main' || (contains(inputs.version, 'x') && format('{0}-dev', inputs.version) || inputs.version) }}
            add_sample_data: ${{ inputs.add_sample_data }}
            PRIVATE_KEY: ${{ secrets.AWS_DEPLOY_KEY }}
            HOSTNAME : ${{ secrets.AWS_HOSTNAME }}
            USER_NAME : ${{ secrets.AWS_USER }}
            APP_SECRET: ${{ secrets.APP_SECRET }}
            POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
            COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
            PACKAGIST_URL: ${{ secrets.PACKAGIST_URL }}
            MEDIA_URL: ${{ secrets.MEDIA_URL }}
            MAILER_DSN: ${{ secrets.MAILER_DSN }}
            GALLY_DEFAULT_SENDER_NAME: ${{ secrets.GALLY_DEFAULT_SENDER_NAME }}
            GALLY_DEFAULT_SENDER_EMAIL: ${{ secrets.GALLY_DEFAULT_SENDER_EMAIL }}
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -o ServerAliveInterval=30 -i private_key ${USER_NAME}@${HOSTNAME} "
            cd /home/ubuntu/ &&
            ([ -d gally ] || git clone https://github.com/Elastic-Suite/gally.git gally) &&
            cd /home/ubuntu/gally &&
            docker system prune -af &&
            ([[ $(docker volume ls -q | awk '!/_/' | wc -l) -eq 0 ]] || docker volume rm $(docker volume ls -q | awk '!/_/' | tr '\n' ' ')) &&
            make .env &&
            POSTGRES_PASSWORD=$POSTGRES_PASSWORD docker compose -f compose.yml -f compose.int.yml up -d database &&  
            docker compose -f compose.yml -f compose.int.yml down &&
            git fetch --all && git reset --hard && git checkout ${{ env.branch }} &&
            ([ -d front/gally-admin ] || git clone https://github.com/Elastic-Suite/gally-admin.git front/gally-admin) &&
            cd front/gally-admin && git fetch --all && git reset --hard && git checkout ${{ env.branch }} &&
            cd /home/ubuntu/gally &&
            SERVER_NAME=$HOSTNAME docker compose -f compose.init_certs.yml build &&
            SERVER_NAME=$HOSTNAME docker compose -f compose.init_certs.yml up proxy_init_certs -d &&
            SERVER_NAME=$HOSTNAME docker compose -f compose.init_certs.yml up certbot_init_certs &&
            docker compose -f compose.init_certs.yml down &&
            docker compose run --rm php rm -rf vendor/gally/gally-premium &&
            docker compose run --rm php composer config repositories.gally-premium composer $PACKAGIST_URL &&
            docker compose run --rm -e COMPOSER_AUTH='$COMPOSER_AUTH' php composer require \"gally/gally-standard:${{ env.composer_version }} as ${{ inputs.last_published_version }}\" &&
            docker compose run --rm -e COMPOSER_AUTH='$COMPOSER_AUTH' php composer require \"gally/gally-premium:${{ env.composer_version }}\" &&
            echo \"Sample data value: ${{ env.add_sample_data }}\" &&
            ([ \"${{ env.add_sample_data }}\" = false ] || echo \"Install sample data\") &&
            ([ \"${{ env.add_sample_data }}\" = false ] || docker compose run --rm -e COMPOSER_AUTH='$COMPOSER_AUTH' php composer require \"gally/gally-sample-data:${{ env.composer_version }}\") &&
            ([ \"${{ env.add_sample_data }}\" = true ] || docker compose run --rm -e COMPOSER_AUTH='$COMPOSER_AUTH' php composer require \"doctrine/doctrine-fixtures-bundle\":\"^3.4\") &&
            docker compose run --rm php sed -i \"s/DoctrineFixturesBundle::class => \['dev' => true, 'test' => true]/DoctrineFixturesBundle::class => ['all' => true]/g\" config/bundles.php &&
            docker compose run --rm php sed -i \"s/NelmioAliceBundle::class => \['dev' => true, 'test' => true]/NelmioAliceBundle::class => ['all' => true]/g\" config/bundles.php &&
            docker compose run --rm php sed -i \"s/FidryAliceDataFixturesBundle::class => \['dev' => true, 'test' => true]/FidryAliceDataFixturesBundle::class => ['all' => true]/g\" config/bundles.php &&
            docker compose run --rm php sed -i \"s/HautelookAliceBundle::class => \['dev' => true, 'test' => true]/HautelookAliceBundle::class => ['all' => true]/g\" config/bundles.php &&
            GALLY_DEFAULT_SENDER_NAME='${GALLY_DEFAULT_SENDER_NAME}' GALLY_DEFAULT_SENDER_EMAIL='${GALLY_DEFAULT_SENDER_EMAIL}' MAILER_DSN='${MAILER_DSN}' GALLY_CATALOG_MEDIA_URL=${MEDIA_URL} SERVER_NAME=$HOSTNAME API_ROUTE_PREFIX=api APP_SECRET=$APP_SECRET POSTGRES_PASSWORD=$POSTGRES_PASSWORD COMPOSER_AUTH='$COMPOSER_AUTH' docker compose -f compose.yml -f compose.int.yml up -d --build &&
            GALLY_DEFAULT_SENDER_NAME='${GALLY_DEFAULT_SENDER_NAME}' GALLY_DEFAULT_SENDER_EMAIL='${GALLY_DEFAULT_SENDER_EMAIL}' MAILER_DSN='${MAILER_DSN}' GALLY_CATALOG_MEDIA_URL=${MEDIA_URL} SERVER_NAME=$HOSTNAME API_ROUTE_PREFIX=api APP_SECRET=$APP_SECRET POSTGRES_PASSWORD=$POSTGRES_PASSWORD COMPOSER_AUTH='$COMPOSER_AUTH' docker compose -f compose.yml -f compose.int.yml exec php bin/console lexik:jwt:generate-keypair --skip-if-exists
          "

